:root{
    --border: 1px aliceblue solid;
    --border-radius: 10px;
}

*{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:aliceblue;
}

body {
    background-color: #333;
}

header {
    padding: 70px 0 100px 0;
    margin-bottom: 50px;
    background-color: #222;
    height:240px;
    text-align: center;   
}

main {
    text-align: center;
}

h1 {
    font-size: 72px;
    text-decoration:overline underline;
    padding-bottom: 15px;
}
 
h2 {
    font-size: 36px;
    margin: 30px 60px;
    padding-bottom: 30px;
}

h3 {
    font-size: 20px;
    margin: 30px;
    padding-top: 30px;
}

button{
    text-align: center;
    font-size: 24px;
    background-color: rgb(124, 151, 209);
    border: var(--border);
    border-radius: var(--border-radius);
    padding: 15px 40px;
    margin: 10px;
}

.countdown{
    position: fixed;
    top: 250px;
    right: 60px;
    font-size: 20px;
}

.quiz-question,
.user-input {
    margin: 100px;
    width: 70%;
    display: none;
    text-align: center;
    padding: 50px 90px;
    margin: 10px;
    border: var(--border);
    border-radius: var(--border-radius);
}

.quiz-question button {
    width:35%;
    color: #222;
}

.user-input input{
    color:black;
    text-align: center;
    height:45px;
    font-size: 25px;
    border: var(--border);
    border-radius: var(--border-radius);
}

.high-scores {
    display:none;
}
 
.user-score {
    font-size: 30px;
}

#high-score-list li{
    display: list-item;
    font-size: 26px;
    padding: 10px;
}